<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/079b4169-1baa-4f0c-9d72-a4dee5a792a5/resourceGroups/PersonalWebsite/providers/Microsoft.Web/sites/CSharpRazorWebsite</ResourceId>
    <ResourceGroup>PersonalWebsite</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://csharprazorwebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>csharprazorwebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CSharpRazorWebsite</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CSharpRazorWebsite</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>