@{
    ViewData["Title"] = "Photo Gallery";
}

<div class="text-center">
    <h1 class="display-4">Photo Gallery</h1>
    <p>In addition to my passion for all things tech, I also have a hobby for hiking, skiing, and traveling! Here are just a few pictures from my journey. Enjoy!</p>
</div>
